# {{ ansible_managed }}

syslocation	{{ snmpd['cfg']['syslocation'] }}
syscontact	{{ snmpd['cfg']['syscontact'] }}
sysservices	72
rocommunity	{{ snmpd['cfg']['rocommunity']['name'] }} {%- if snmpd.cfg.rocommunity.from %} {{ snmpd['cfg']['rocommunity']['from'] }} {%- endif %}
agentuser	{{ snmpd['cfg']['agentuser'] }}
agentaddress	udp:{{ snmpd['cfg']['agentaddress'] }}:161
